

#logo{
    display:flex;
    align-items: center;
    justify-content: center;
}
#logo img{
    width: 150px;
    height: 40px;
    display: flex;
    margin: 30px 30px 0 30px;
    
    
}
#name{
    display:flex;
    align-items: center;
    justify-content: center;
    color:red;
    font-size: 30px;
    margin-top: 50px;
}
div{
    display:flex;
    align-items: center;
    justify-content: center;
    color:red;
    font-size: 30px;
    margin-top: 50px;  
}